$primary-color: /*#18121E;*/ #494E6B;
$secondary-color: /*#233237;*/ #98878F;
$active-color: /*#984B43;*/ #985E6D;
$highlight-color: /*#EAC67A;*/ #192231;

$primary-text-color: #fff;
$secondary-text-color: #373737;
$faded-text-color: #5f5f5f;

$off-white: #ebebeb;

$primary-hover: #636a91;
