<div class="page-container">
  <div class="btn-left clickable" (click)="onBackArrowClick()" *ngIf="displayLeftArrow">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
  </div>
  <div class="btn-right clickable" (click)="onNextArrowClick()" *ngIf="displayRightArrow">
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
  </div>

  <div class="project-header">
    <div class="title">University Professor Professional Portfolio</div>
    <div class="subtitle">Website Design and Development</div>
  </div>

  <div class="page-inner">

    <div class="button-container" *ngIf="false">
      <button class="btn-circle"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
      <button class="btn-circle"><i class="fa fa-th-large" aria-hidden="true"></i></button>
      <button class="btn-circle"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
    </div>

    <div class="main-picture-container">
      <img src="assets/img/portfolio/helloWorldProjectCover.png">
    </div>

    <div class="project-body">

      <div class="body-wrapper">
        <div class="description-container">
          <h3 class="section-title">About</h3>
          <p>For my Computer Science 281 Website Design and Development class, I worked with a group of
            three other students throughout the semester to develop this website from the ground up. It is a portfolio website
            for a Mathematics and Statistics professor at the University of Saskatchewan that showcases her
            background, research, publications, classes, and contact info.</p>

          <p>We met with the professor several times during the design process to ensure we properly developed
            what she wanted, and to pitch our design ideas and mock-ups.</p>

          <p>The site features a navigation bar that fixes to the top of the screen if the page is scrolled down,
            nested collapsible information panels, easy insertion of new data or text, and a data table of
            publications that is sortable based on name or date.
          </p>
        </div>

        <div class="technologies-container">
          <h3 class="section-title">Technologies Used</h3>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
            <li>jQuery</li>
            <li>Cloud9</li>
          </ul>
        </div>
      </div>

    </div>

    <div class="button-container">
      <div class="btn-mobile-prev clickable" (click)="onBackArrowClick()">
        <span class="fa-stack fa-lg" *ngIf="displayLeftArrow">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-chevron-left fa-stack-1x"></i>
        </span>
        <span class="mobile-title">{{prevTitle}}</span>
      </div>
      <div class="btn-mobile-menu clickable" [routerLink]="['/portfolio']">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-th-large fa-stack-1x"></i>
        </span>
      </div>
      <div class="btn-mobile-next clickable" (click)="onNextArrowClick()">
        <span class="mobile-title">{{nextTitle}}</span>
        <span class="fa-stack fa-lg" *ngIf="displayRightArrow">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-chevron-right fa-stack-1x"></i>
        </span>
      </div>
    </div>
  </div>

</div>
