<div class="page-container">
  <div class="project-header">
    <h2>University Professor Professional Portfolio</h2>
    <h4>Website Design and Development</h4>
  </div>

  <div class="main-picture-container">
    <img src="assets/img/portfolio/helloWorldProjectCover.png">
  </div>

  <div class="project-body">

    <div class="description-container">
      <p>For my Computer Science 281 Website Design and Development class, I worked with a group of
        three other students throughout the semester to develop this website from the ground up. It is a portfolio website
        for a Mathematics and Statistics professor at the University of Saskatchewan that showcases her
        background, research, publications, classes, and contact info.</p>

      <p>We met with the professor several times during the design process to ensure we properly developed
        what she wanted, and to pitch our design ideas and mock-ups.</p>
    </div>

    <div class="technologies-container">
      <h3>Technologies</h3>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        <li>jQuery</li>
        <li>Cloud9</li>
      </ul>

    </div>

  </div>

</div>
<div class="footer-container">
  <footer></footer>
</div>
