<div class="portfolio-display-wrapper" (click)="goToLink()" (whenInView)="triggerFadeIn()" [@elementState]="state">

  <div class="display-image">
    <div class="display-image-overlay">
      <span>View Project</span>
    </div>
    <img src={{element.imagePath}} />
  </div>
  <div class="display-text">
    <div class="display-title">
      {{element.title}}
    </div>
    <div class="display-tags">
      <span *ngFor="let tag of element.tags; let isLast=last">{{tag}}{{isLast?'':','}} </span>
    </div>
  </div>
</div>
