@import "../../../assets/variables";

.about-me-page-container{
  background-color: $off-white;
  width: 100%;
  min-height: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me-container{
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: $faded-text-color;
}

.about-me-message{
  flex: 1;
  min-width: 450px;
  padding: 10px;
}

.changing-word{
  color: $active-color;
  font-weight: bolder;
}

.personal-image{
  max-width: 100%;
  width: 300px;
  flex-shrink: 0;
}

.personal-image img{
  width: 100%;
  height: 100%;
}

.experience-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.skills-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  .personal-image{
    width: 200px;
  }
}
