<div class="about-me-page-container">
  <div class="about-me-container">
    <div class="personal-image">
      <img src="assets/img/personal-image.jpg">
    </div>
    <div class="about-me-message">
      <h3>I am a detail-oriented, quality-minded software developer with a focus on unique
        and responsive user experience.</h3>

      <p>I am a fourth-year student at the University of Saskatchewan studying Interactive Systems Design and
        Computer Science. I am working towards becoming a full-stack developer, and am learning solid
        foundational knowledge in both the back-end and the front-end. I am passionate about programming
       and I love applying new knowledge to my personal projects.</p>

      <p>I am currently working as a Developer intern at Farm Credit Canada, before returning to school to finish
        the final year of my bachelor's degree.</p>

      <p>I enjoy <span class="changing-word">{{currentEnjoyWord}}</span></p>
    </div>
  </div>
  <div class="skills-container">

    <div class="skills-header">
      <h1>Skills</h1>
      <div class="divider"></div>
    </div>

    <div class="skills-body">
      <div class="skill-bar-container">
        <h2>Development</h2>
        <h5>Languages, Frameworks, Libraries, Preprocessors</h5>
        <skill-bar [skillName]="'HTML5/CSS3'" [skillPercent]="'95'"></skill-bar>
        <skill-bar [skillName]="'Bootstrap'" [skillPercent]="'90'"></skill-bar>
        <skill-bar [skillName]="'Java8'" [skillPercent]="'75'"></skill-bar>
        <skill-bar [skillName]="'Angular2+'" [skillPercent]="'70'"></skill-bar>
        <skill-bar [skillName]="'Javascript'" [skillPercent]="'60'"></skill-bar>
        <skill-bar [skillName]="'C#'" [skillPercent]="'35'"></skill-bar>
        <skill-bar [skillName]="'C++'" [skillPercent]="'25'"></skill-bar>
        <skill-bar [skillName]="'Python'" [skillPercent]="'10'"></skill-bar>
      </div>

      <div class="skill-container-right">
        <div class="tools-container">
          <h2>Tools</h2>

          <span>Git</span>
          <span>Gradle</span>
          <span>Spring</span>
          <span>Postman</span>
          <span>Unity</span>
        </div>

        <div class="other-container">
          <h2>Other</h2>

          <span>TDD</span>
          <span>Agile</span>
          <span>Scrum</span>
          <span>REST</span>
        </div>
      </div>
    </div>

  </div>
  <div class="experience-container">
    <h1>Experience</h1>
  </div>
  <div class="footer-container">
    <footer></footer>
  </div>
</div>
