<div class="about-me-page-container">
  <div class="about-me-container">
    <div class="personal-image">
      <img src="assets/img/personal-image.jpg">
    </div>
    <div class="about-me-message">
      <h3>I am a detail-oriented, quality-minded software developer with a focus on unique
        and responsive user experience.</h3>

      <p>I am a fourth-year student at the University of Saskatchewan studying Interactive Systems Design and
        Computer Science. I am working towards becoming a full-stack developer, and am learning solid
        foundational knowledge in both the back-end and the front-end. I am passionate about programming
       and I love applying new knowledge to my personal projects.</p>

      <p>I am currently working as a Developer intern at Farm Credit Canada, before returning to school to finish
        the final year of my bachelor's degree.</p>

      <p>I enjoy <span class="changing-word">{{displayWord}}</span></p>
    </div>
  </div>
  <div class="skills-container">

    <div class="skills-header">
      <h1>Skills</h1>
      <div class="divider"></div>
    </div>

    <div class="skills-body">
      <div class="skill-bar-container">
        <h2><i class="fa fa-desktop"></i> Development</h2>
        <h5>Languages, Frameworks, Libraries, Preprocessors</h5>
        <skill-bar [skillName]="'HTML5/CSS3'" [skillPercent]="'95'"></skill-bar>
        <skill-bar [skillName]="'Bootstrap'" [skillPercent]="'90'"></skill-bar>
        <skill-bar [skillName]="'Java8'" [skillPercent]="'75'"></skill-bar>
        <skill-bar [skillName]="'Angular2+'" [skillPercent]="'70'"></skill-bar>
        <skill-bar [skillName]="'Javascript/jQuery'" [skillPercent]="'60'"></skill-bar>
        <skill-bar [skillName]="'C#'" [skillPercent]="'35'"></skill-bar>
        <skill-bar [skillName]="'C++'" [skillPercent]="'25'"></skill-bar>
        <skill-bar [skillName]="'Python'" [skillPercent]="'10'"></skill-bar>
      </div>

      <div class="skill-container-right">
        <div class="tools-container">
          <h2><i class="fa fa-wrench"></i> Tools</h2>

          <span>Git</span>
          <span>Gradle</span>
          <span>Spring</span>
          <span>Postman</span>
          <span>Unity</span>
        </div>

        <div class="other-container">
          <h2><i class="fa fa-book"></i> Other</h2>

          <span>TDD</span>
          <span>Agile</span>
          <span>Scrum</span>
          <span>REST</span>
          <span>Unix</span>
          <span>Research</span>
          <span>Responsive Design</span>
        </div>
      </div>
    </div>

  </div>
  <div class="experience-container">
    <h1>Experience</h1>
    <div class="job-container" (whenInView)="triggerFadeIn()" [@elementState]="state">
      <div class="company-image">
        <img src="assets/img/fcc_logo.jpg">
      </div>
      <div class="job-description">
        <div class="job-header">
          <h3>Developer Intern</h3>
          <span>May 2017 - Present</span>
        </div>
        <h4>Farm Credit Canada</h4>
        Developed and maintained internal and customer-facing web applications. Collaborated closely on a team of
        developers and analysts using the Agile development cycle and Scrum product development framework. Worked
        in both the back-end and front-end of enterprise web development to deliver quality, scalable applications.
        <div class="job-skill-tags">
          Java, Angular4, HTML, CSS/Sass, Git
        </div>
      </div>
    </div>
  </div>

  <div class="resume-container clickable">
    <a href="mailto:ben.leech@hotmail.ca">
      <span>View my Resume</span>
    </a>
  </div>

  <div class="education-container">
    <h1>Education</h1>
    <div class="education-node-container" (whenInView)="triggerEducationFadeIn()" [@educationState]="educationState">
      <img src="assets/img/university_of_saskatchewan_logo.svg">
      <div class="education-description">
        <div class="education-header">
          <h3>Bachelor of Interactive Systems Design</h3>
          <span>Ongoing</span>
        </div>
        <h4>University of Saskatchewan</h4>
      </div>
    </div>
  </div>
  <div class="footer-container">
    <footer></footer>
  </div>
</div>
