<div class="about-me-page-container">
  <div class="about-me-container">
    <div class="personal-image">
      <img src="assets/img/personal-image.jpg">
    </div>
    <div class="about-me-message">
      <h3>I am a detail-oriented, quality-minded software developer with a focus on unique
        and responsive user experience.</h3>

      <p>I am a fourth-year student at the University of Saskatchewan studying Interactive Systems Design and
        Computer Science. I am working towards becoming a full-stack developer, and am learning solid
        foundational knowledge in both the back-end and the front-end. I am passionate about programming
       and I love applying new knowledge to my personal projects.</p>

      <p>I am currently working as a Developer intern at Farm Credit Canada, before returning to school to finish
        the final year of my bachelor's degree.</p>

      <p>I enjoy <span class="changing-word">{{currentEnjoyWord}}</span></p>
    </div>
  </div>
  <div class="experience-container">
    Experience
  </div>
  <div class="skills-container">
    Skills
  </div>
</div>
