@import "../../../assets/variables";

//Page Container
.about-me-page-container{
  background-color: $off-white;
  width: 100%;
  min-height: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

//About me
.about-me-container{
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: $faded-text-color;
  margin-bottom: 50px;
  box-sizing: border-box;
  padding: 10px;
}

.about-me-message{
  flex: 1;
  //min-width: 450px;
  padding: 10px;
}

.changing-word{
  color: $active-color;
  font-weight: bolder;
}

.personal-image{
  max-width: 100%;
  width: 300px;
  flex-shrink: 0;
}

.personal-image img{
  width: 100%;
  height: 100%;
}

//Skills
.skills-container{
  width: 100%;
  background-color: $primary-color;
  color: $off-white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 25px;
}

.skill-container-right{
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 20px;
  max-width: 400px;
  min-width: 150px;
}

.other-container{
  margin-top: 15px;
}

.skills-body h5{
  margin-top: -10px;
}

.skills-body{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  box-sizing: border-box;
}

.skills-container span {
  border: 1px solid $off-white;
  padding: 5px 10px 5px 10px;
  margin: 10px 5px 10px 5px;
  display: inline-block;
}

.divider{
  background-color: $active-color;
  height: 3px;
  width: 100%;
  margin-bottom: 15px;
}

//Experience
.experience-container{
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.job-skill-tags{
  color: #7b7b7b;
  font-size: 14px;
}

.job-header{
  display: flex;
  justify-content: space-between;
}

.experience-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $faded-text-color;
  background-color: $off-white;
  padding: 50px;
}

.experience-container h1{
  margin-top: 0;
}

.company-image img{
  height: 100%;
  border-radius: 50%;
}

.company-image{
  height: 75px;
  width: 75px;
  margin-right: 20px;
}

.job-container{
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  padding: 15px;
}

.job-description h4{
  color: $active-color;
  margin: 0;
}

.job-description h3{
  margin: 0;
}

//Resume
.resume-link{
  width: 100%;
}

.resume-container{
  width: 100%;
  background-color: $primary-color;
  color: $off-white;
  font-size: 20px;
  padding: 25px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

.btn-open{
  //transform: translateY(-30px) rotateX(-60deg);
  transform: translateY(-20px);
  opacity: 0;
  font-size: 30px;
  position: absolute;
}

.resume-container span{
  transition: all 0.3s ease;
}

.resume-container:hover{
  background-color: $primary-hover;
}

.resume-container:hover .btn-open{
  //transform: translateY(-5px) rotateX(0deg);
  transform: translateY(-5px);
  opacity: 1;
}

.resume-container:hover .resume-title{
  //transform: translateY(30px) rotateX(60deg);
  transform: translateY(20px);
  opacity: 0;
}

//Education
.education-container{
  color: $faded-text-color;
  background-color: $off-white;
  padding: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.education-node-container{
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  padding: 15px;
}

.education-container h1{
  margin-top: 0;
}

.education-container img{
  border-radius: 50%;
  height: 75px;
  margin-right: 20px;
}

.education-header{
  display: flex;
  justify-content: space-between;
}

.education-node-container h3, h4{
  margin: 0 25px 0 0;
}

.education-description h4{
  color: $active-color;
}

@media (max-width: 800px) {
  .personal-image{
    width: 200px;
  }

  .about-me-message {
    min-width: 100%;
  }
}

@media (max-width: 550px) {
  .job-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .experience-container {
    padding: 50px 5px 50px 5px;
  }

  .education-container {
    padding: 50px 5px 50px 5px;
  }
}
