@import "../../../assets/variables";

//Splash Page
.splash-container{
  background-color: $primary-color;
  width: 100%;
  min-height: 100%;
  display: flex;
  overflow: auto;
  align-items: center;
  position: relative;
  background-image: url('../../../assets/img/cover-photo3.jpg');
  background-size: cover;
  //background-attachment: fixed;  //this line is causing lag
  //background-position: center;
  background-position-x: center;
  -webkit-transform: translate3d(0,0,0);
}

.splash-container:before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom,$primary-color,$active-color);
  //background-image: linear-gradient(to bottom,$active-color,$primary-color);
  opacity: .7;
}

.cover-container{
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: auto;
  box-sizing: border-box;
  z-index: 5;
}

.cover-container .cover-title{
  font-size: 64px;
  color: $primary-text-color;
  font-weight: bold;
  margin-bottom: 15px;
}

.cover-container .cover-message{
  font-size: 20px;
  max-width: 95%;
  color: $primary-text-color;
  margin-bottom: 25px;
}

.cover-container .cover-submessage{
  font-size: 16px;
  max-width: 95%;
  color: $primary-text-color;
  padding-bottom: 50px;
}

//Greeting
.about-me-container{
  width: 100%;
  background-color: $off-white;
  padding: 50px 15px 50px 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.personal-image{
  width: 175px;
  height: 175px;
  margin: 25px;
}

.personal-image img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.greeting-message{
  max-width: 600px;
  color: $faded-text-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.greeting-message h2{
  color: $active-color;
  margin-bottom: 0;
  margin-left: 20px;
  margin-top: 0;
}

.greeting-message h3{
  text-align: center;
}

.greeting-container{
  overflow: hidden;
  height: 100%;
  max-width: 840px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row-reverse;
}

.down-arrow{
  position: absolute;
  font-size: 20px;
  bottom: 15px;
  left: 0;
  width: 100%;
  color: $primary-text-color;
  text-align: center;
  -webkit-animation: fade-and-hover 2s infinite;
  -webkit-animation-delay: 4s;
}

//Expertise Section
.what-i-can-do-container{
  width: 100%;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.expertise-bubble{
  font-size: 36px;
  color: $off-white;
  background-color: $highlight-color;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expertise-bubble i{
  transition: all 0.5s ease;
}

.expertise-bubble:hover i{
  animation: 1s shake;
}

.expertise-container{
  color: $off-white;
  margin: 10px 25px 10px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  text-align: center;
  min-width: 200px;
  max-width: 250px;
}

.expertise-bubble .fa-pencil-square-o{
  margin-left: 10px;
  margin-top: 3px;
}

//Featured Work Container
.featured-container{
  background-color: $off-white;
  width: 100%;
  padding: 35px 15px 35px 15px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

//Contact/Email me
.contact-container{
  width: 100%;
  background-color: $highlight-color;
  padding: 45px 25px 65px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $off-white;
  box-sizing: border-box;
  text-align: center;
}

.contact-container h1{
  font-size: 40px;
}

.contact-container .btn-email{
  color: $highlight-color;
  background-color: $active-color;
  border: 3px solid $active-color;
  font-weight: bold;
  transition: all 0.5s ease;
  font-size: 16px;
  padding: 15px 35px 15px 35px;
  border-radius: 55px;
  margin-top: 15px;
}

.contact-container .btn-email:hover{
  background-color: #7c4856;
  border-color: #7C4856;
  transform: scaleX(1.1);
}

.contact-container .btn-email .btn-email-text{
  display: inline-block;
  transition: all 0.5s ease;
}

.contact-container .btn-email:hover .btn-email-text{
  transform: scaleX(0.9);
}

.contact-message{
  max-width: 500px;
  margin-bottom: 50px;
}

@media (max-height: 400px){
  .down-arrow{
    display: none;
  }

  .cover-container{
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 426px){
  .down-arrow{
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .featured-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}

@-webkit-keyframes fade-and-hover {
  0%{opacity: 1; bottom: 15px;}
  50%{opacity: 0.5; bottom: 10px;}
  100%{opacity: 1; bottom: 15px;}
}

@keyframes shake {
  0%{ transform: rotate(0deg) }
  33%{ transform: rotate(-25deg) }
  66%{ transform: rotate(25deg) }
  100%{ transform: rotate(0deg) }
}
