body, html{
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Ubuntu, SansSerif;
  //consider using open sans
}

.display-none{
  display: block;
}

.display-block{
  display: block;
}

.text-group{
  white-space: nowrap;
}
