<div class="page-container">
  <div class="btn-left clickable" (click)="onBackArrowClick()" *ngIf="displayLeftArrow">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
  </div>
  <div class="btn-right clickable" (click)="onNextArrowClick()" *ngIf="displayRightArrow">
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
  </div>

  <div class="project-header">
    <div class="title">Miri</div>
    <div class="subtitle">Game Design and Development project</div>
  </div>

  <div class="page-inner">
    <div class="main-picture-container">
      <img src="assets/img/portfolio/miri/miri_mockup.jpg">
    </div>

    <div class="project-body">

      <div class="body-wrapper">
        <div class="description-container">
          <h3 class="section-title">About</h3>
          <p>For my Computer Science Design and Construction of Games and Interactive Systems class,
            I worked with a group of three other students throughout the semester to design and develop
            this game from scratch in Unity.</p>
          <p>Miri is a tile-based puzzle platformer game with four playable characters that each have their own
            abilities and limitations. All four exist in the level at the same time (except for the earlier levels),
            and all four must reach the end before the player can move on to the next level. The player controls
            one player at a time and uses their abilities in combination to solve puzzles and help the other
            characters to reach the end.</p>
          The four playable characters are as follows:
          <ul>
            <li><strong>Miri:</strong> A fit blue-skinned humanoid being. Can run fast and jump high</li>
            <li><strong>Morigan:</strong> A magical witch. Can perform short jumps and conjure a single ramp block or
              ladder, but not both at the same time.</li>
            <li><strong>Olav:</strong> A burly Viking. Can walk through spikes and activate pressure plates by standing on them,
              but can't jump.</li>
            <li><strong>Ladder Guy:</strong> Just your average guy. Except he can climb ladders.</li>
          </ul>
        </div>

        <div class="technologies-container">
          <h3 class="section-title">Technologies Used</h3>
          <ul>
            <li>Unity</li>
            <li>C#</li>
            <li>Sketchbook Pro</li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <div class="button-container">
    <div class="btn-mobile-prev" (click)="onBackArrowClick()">
        <span class="fa-stack fa-lg clickable" [class.visibility-hidden]="!displayLeftArrow">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-chevron-left fa-stack-1x"></i>
        </span>
    </div>
    <div class="btn-mobile-menu" [routerLink]="['/portfolio']">
      <span class="btn-back-to-portfolio clickable">Back to Portfolio</span>
    </div>
    <div class="btn-mobile-next" (click)="onNextArrowClick()">
        <span class="fa-stack fa-lg clickable" [class.visibility-hidden]="!displayRightArrow">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-chevron-right fa-stack-1x"></i>
        </span>
    </div>
  </div>

</div>
