<div class="page-container">
  <div class="page-inner">
    <div class="project-header">
      <h2>Miri</h2>
      <h4>Game Design and Development project</h4>
    </div>

    <div class="main-picture-container">
      <img src="assets/img/portfolio/miri_mockup.jpg">
    </div>

    <div class="project-body">

      <div class="description-container">
        <h3>About</h3>
        <p>For my Computer Science Design and Construction of Games and Interactive Systems class,
          I worked with a group of three other students throughout the semester to design and develop
          this game from scratch in Unity.</p>
        <p>Miri is a puzzle platformer game with four playable characters that each have their own
        abilities and limitations. All four exist in the level at the same time (except for the earlier levels),
        and all four must reach the end before the player can move on to the next level. The player controls
        one player at a time and uses their abilities in combination to solve puzzles and help the other
        characters to reach the end.</p>
        The four playable characters are as follows:
        <ul>
          <li><strong>Miri:</strong> A fit blue-skinned humanoid being. Can run fast and jump high</li>
          <li><strong>Morigan:</strong> A magical witch. Can perform short jumps and conjure a single ramp block or
            ladder, but not both at the same time.</li>
          <li><strong>Olav:</strong> A burly Viking. Can walk through spikes and activate pressure plates by standing on them,
             but can't jump.</li>
          <li><strong>Ladder Guy:</strong> Just your average guy. Except he can climb ladders.</li>
        </ul>
      </div>

      <div class="technologies-container">
        <h3>Technologies Used</h3>
        <span>Unity</span>
        <span>C#</span>
        <span>Sketchbook Pro</span>
      </div>

    </div>
  </div>


</div>
<div class="footer-container">
  <footer></footer>
</div>
