@import "../../../assets/variables";

.navbar-wrapper{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar {
  color: $primary-text-color;
  padding: 0 45px 0 45px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link{
  padding: 0px 15px 10px 15px;
  margin-left: 10px;
}

.nav-link:hover{
  border-bottom: solid 5px $active-color;
}

.dropdown-container{
  color: $primary-text-color;
  width: 100%;
  background-color: $secondary-color;
}

.dropdown-container-down{
  max-height: 600px;
  transition: max-height 0.25s ease-in;
}

.dropdown-container-up{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease-out;
}

.dropdown-container .nav-dropdown-link-row{
  padding: 15px;
}

.dropdown-container .nav-dropdown-link-row:hover{
  background-color: rgb(31, 41, 46);
  color: #b4b4b4;
}

.navbar .fa-bars{
  display: none;
}

.stickyNav{
  background-color: $secondary-color;
}

@media (max-width: 780px){
  .navbar{
    background-color: $secondary-color;
  }

  .nav-link{
    display: none;
  }

  .navbar .fa-bars{
    display: block;
  }
}

@media (min-width: 781px){
  .dropdown-container{
    display: none;
  }
}
