<div class="navbar-wrapper">
  <div class="navbar" [ngClass]="{'sticky-nav': showNav, 'top-nav': !showNav}">
    <div class="logo-container" routerLink='/home'>
      Ben Leech
    </div>
    <div class="nav-links-container">
      <span class="nav-link" *ngFor="let navLink of navLinks" routerLink="about">{{navLink.text}}</span>
      <i class="fa fa-bars" aria-hidden="true" (click)="toggleDropdown()"></i>
    </div>
  </div>
  <div class="dropdown-container"
       [ngClass]="{'dropdown-container-down': showDropdown, 'dropdown-container-up': !showDropdown}">
    <div class="dropdown-inner">
      <div class="nav-dropdown-link-row" *ngFor="let navLink of navLinks">
        <span class="nav-dropdown-link" routerLink='[navLink.link]'>{{navLink.text}}</span>
      </div>
    </div>
    <div class="dropdown-end">
      <div class="dropdown-triangle"></div>
    </div>
  </div>
</div>

