@import "../../../assets/variables";

.footer{
  padding-top: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.social-media-container{
  font-size: 20px;
  color: $primary-color;
  margin-bottom: 20px;
}

.social-media-container * {
  transition: all 0.3s ease;
}

.fa-circle{
  color: $highlight-color;
}

.copyright-info{
  font-size: 12px;
  color: $off-white;
}

.linkedin:hover .fa-circle{
  color: #24559c;
}

.linkedin:hover .fa-linkedin-square{
  color: $off-white;
}

.github:hover .fa-circle{
  color: #000;
}

.github:hover .fa-github{
  color: $off-white;
}

.instagram:hover .fa-circle{
  color: #bd286d;
}

.instagram:hover .fa-instagram{
  color: $off-white;
}
