<div class="footer">
  <div class="social-media-container">
    <span class="fa-stack fa-sm clickable linkedin">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-linkedin-square fa-stack-1x"></i>
    </span>
    <span class="fa-stack fa-sm clickable github">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-github fa-stack-1x"></i>
      </span>
    <span class="fa-stack fa-sm clickable instagram">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-instagram fa-stack-1x"></i>
      </span>
  </div>
  <div class="copyright-info">
    © 2017. Ben Leech. All Rights Reserved.
  </div>
</div>
