@import "../../../assets/variables";

.footer{
  padding-top: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.social-media-container{
  font-size: 26px;
  color: $highlight-color;
  margin-bottom: 20px;
}

.copyright-info{
  font-size: 12px;
  color: $off-white;
}

.fa{
  padding-left: 5px;
}

.fa-linkedin-square:hover{
  color: #24559c;
}

.fa-github:hover{
  color: #000;
}

.fa-instagram:hover{
  color: #bd286d;
}

.fa-linkedin-square:hover:before {
  background-color: #fff;
  border-radius: 20%;
  line-height: 20px;
  width: 20px;
  height: 20px;
  margin-right: 2px;
  display: inline-block;
}

.fa-github:hover:before{
  background-color: #fff;
  border-radius: 80%;
  line-height: 20px;
  width: 20px;
  height: 20px;
  margin-right: 2px;
  display: inline-block;
}
