<div class="footer">
  <div class="social-media-container">
    <a [attr.href]="linkedinPath" target="_blank">
      <span class="fa-stack fa-sm clickable linkedin">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-linkedin-square fa-stack-1x"></i>
      </span>
    </a>
    <a [attr.href]="githubPath" target="_blank">
      <span class="fa-stack fa-sm clickable github">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-github fa-stack-1x"></i>
      </span>
    </a>
    <a [attr.href]="instagramPath" target="_blank">
      <span class="fa-stack fa-sm clickable instagram">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-instagram fa-stack-1x"></i>
      </span>
    </a>
  </div>
  <div class="btn-back-to-top" (click)="scrollToTop()">
    <span class="fa-stack fa-sm clickable">
      <i class="fa fa-circle fa-stack-1x"></i>
      <i class="fa fa-arrow-circle-up fa-stack-1x"></i>
    </span>
  </div>
  <div class="copyright-info">
    © 2017. Ben Leech. All Rights Reserved.
  </div>
</div>
