@import "../../../assets/variables";

.skill-bar-wrapper{
  height: 25px;
  border-radius: 25px;
  background-color: #3e4360;
  width: 350px;
  overflow: hidden;
}

.skill-bar-inner{
  height: 100%;
  background-color: $active-color;
  //width: 50%;
}


