@import "../../assets/variables";

.navbar {
  position:fixed;
  top: 0;
  text-color: $primary-text-color;
  color: $primary-text-color;
  width: 100%;
}

.navbar .nav-links-container{
  float: right;
  padding:25px;
  margin-right: 25px;
}

.nav-link{
  margin-right: 10px;
  margin-left: 10px;
}

.navbar .logo-container{
  float: left;
  padding: 25px;
  margin-left: 25px;
}
