@import "../../assets/variables";

.navbar-wrapper{
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
  color: $primary-text-color;
  height: auto;
  overflow: auto;
  padding: 25px;
}

.navbar .nav-links-container{
  float: right;
  margin-right: 25px;
}

.nav-link{
  display: inline-block;
  padding: 10px 15px 10px 15px;
  margin-right: 10px;
  margin-left: 10px;
}

.nav-link:hover{
  border-bottom: solid 5px $active-color;
}

.navbar .logo-container{
  float: left;
  padding: 10px 25px 10px 25px;
  margin-left: 25px;
  vertical-align: middle;
}

.dropdown-container{
  color: $primary-text-color;
  width: 100%;
}

.navbar .fa-bars{
  display: none;
}

@media (max-width: 780px){
  .navbar{
    background-color: $secondary-color;
  }

  .nav-link{
    display: none;
  }

  .navbar .fa-bars{
    display: block;
  }
}
