@import "../../../assets/variables";

.featured-work-container{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-work-container h1{
  color: $active-color;
}

.featured-work-inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button-container{
  margin: 25px;
}

.btn-view-more{
  color: $active-color;
  font-size: 16px;
  border: solid 2px $active-color;
  padding: 10px 15px 10px 15px;
  background-color: transparent;
  animation: btn-unhover 0.2s;
}

.btn-view-more:hover{
  animation: btn-hover 0.5s;
  animation-fill-mode:forwards;
}

.divider{
  background-color: $active-color;
  height: 2px;
  width: 25%;
  margin-bottom: 15px;
}

@keyframes btn-hover {
  0% {
    background-color: transparent;
    color: $active-color;
  }

  100% {
    background-color: $active-color;
    color: $off-white;
    transform: scale(1.1);
  }
}

@keyframes btn-unhover {
  0%{
    background-color: $active-color;
    color: $off-white;
    transform: scale(1.1);
  }

  100%{
    background-color: transparent;
    color: $active-color;
    transform: scale(1);
  }
}
