<div class="splash-container">
  <div class="cover-container">
    <div class="cover-title">
      Ben Leech
    </div>
    <div class="cover-message">
      <span class="text-group">Interactive Systems Design</span>
      Student at <span class="text-group">University of Saskatchewan</span>
    </div>
    <div class="cover-submessage">
      Currently working as a Developer at <span class="text-group">Farm Credit Canada</span>
    </div>
  </div>
  <div class="down-arrow">
    <i class="fa fa-angle-double-down" aria-hidden="true"></i>
  </div>
</div>
<div class="featured-container">
  <portfolio-display [element]="testElement"></portfolio-display>
  <portfolio-display [element]="testElement2"></portfolio-display>
</div>
<div class="footer-container">
  <footer></footer>
</div>
