@import "../../../assets/variables";

.splash-container{
  background-color: $primary-color;
  width: 100%;
  min-height: 100%;
  display: flex;
  overflow: auto;
  align-items: center;
  position: relative;
  background-image: url('../../../assets/img/cover-photo1.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.splash-container:before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom,$primary-color,$active-color);
  //background-image: linear-gradient(to bottom,$active-color,$primary-color);
  opacity: .7;
}

.cover-container{
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: auto;
  box-sizing: border-box;
  z-index: 5;
}

.cover-container .cover-title{
  font-size: 64px;
  color: $primary-text-color;
  font-weight: bold;
  margin-bottom: 15px;
}

.cover-container .cover-message{
  font-size: 20px;
  max-width: 95%;
  color: $primary-text-color;
  margin-bottom: 25px;
}

.cover-container .cover-submessage{
  font-size: 16px;
  max-width: 95%;
  color: $primary-text-color;
  padding-bottom: 50px;
}

.separator-container{
  height: 100px;
  background-color: $off-white;
  width: 100%;
}

.about-me-container{
  width: 100%;
  background-color: $off-white;
  padding: 15px;
  padding-top: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.down-arrow{
  position: absolute;
  font-size: 20px;
  bottom: 15px;
  left: 0;
  width: 100%;
  color: $primary-text-color;
  text-align: center;
  -webkit-animation: fade-and-hover 2s infinite;
  -webkit-animation-delay: 4s;
}

.featured-container{
  background-color: $off-white;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  padding-bottom: 50px;
}

.footer-container{
  background-color: $primary-color;
  color: $primary-text-color;
  padding: 10px;
}

@media (max-height: 400px){
  .down-arrow{
    display: none;
  }

  .cover-container{
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 426px){
  .down-arrow{
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .featured-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}

@-webkit-keyframes fade-and-hover {
  0%{opacity: 1; bottom: 15px;}
  50%{opacity: 0.5; bottom: 10px;}
  100%{opacity: 1; bottom: 15px;}
}
