@import "../../../assets/variables";

.page-container{
  width: 100%;
  min-height: 100%;
  background-color: $off-white;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.page-inner{
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 10px 15px 20px 15px;
  box-sizing: border-box;
  line-height: 25px;
}

.main-picture-container{
  width: 100%;
}

.main-picture-container img{
  width: 100%;
}

.project-header{
  background-color: $primary-color;
  color: $off-white;
  text-align: center;
  width: 100%;
  padding: 75px 0 15px 0;
  margin-bottom: 20px;
}

.project-header h2{
  margin-bottom: 0;
}

.project-header h4{
  margin-top: 0;
}

.project-body{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 25px;
}

h3{
  color: $active-color;
}

.technologies-container span{
  border: 1px solid $highlight-color;
  color: $highlight-color;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 14px;
}

.btn-circle{
  border: 0;
  background-color: $primary-color;
  color: $off-white;
  border-radius: 50%;
}

.btn-left{
  position: fixed;
  top: 50%;
  left: 20px;
  font-size: 24px;
  color: $primary-color;
}

.btn-right{
  position: fixed;
  top: 50%;
  right: 20px;
  font-size: 24px;
  color: $primary-color;
}

.btn-right:hover i{
  transform: translateX(5px);
  color: $highlight-color;
  z-index: 6;
}

.btn-left:hover i{
  transform: translateX(-5px);
  color: $highlight-color;
}

.button-container{
  color: $primary-color;
  width: 100%;
  position: relative;
  height: 100px;
  display: none;
}

.button-container .fa-chevron-left{
  color: $off-white;
}

.button-container .fa-chevron-right{
  color: $off-white;
}

.button-container .fa-stack{
  flex-shrink: 0;
}

.button-container .fa-th-large{
  color: $off-white;
}

.btn-mobile-prev{
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  max-width: 45%;
  transition: all 0.5s ease;
}

.btn-mobile-prev:hover .fa-circle{
  color: $highlight-color;
  transition: all 0.5s ease;
}

.btn-mobile-next{
  position: absolute;
  right: 0;
}

.btn-mobile-next:hover .fa-circle{
  color: $highlight-color;
  transition: all 0.5s ease;
}

.btn-mobile-menu{
  position: absolute;
  left: 50%;
  margin-left: -20px;
  transition: all 0.5s ease;
}

.btn-mobile-menu:hover{
  color: $highlight-color;
}

@media (max-width: 780px){
  .page-inner{
    width: 100%;
  }

  .btn-right{
    display: none;
  }

  .btn-left{
    display: none;
  }

  .button-container{
    display: block;
  }
}
