@import "../../../assets/variables";

.personal-image{
  max-width: 100%;
  float: right;
  shape-outside: circle(50%);
  height: 200px;
  margin: 15px;
}

.personal-image img{
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
}

.greeting-message{
  max-width: 70%;
  color: $faded-text-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.greeting-message h2{
  color: $active-color;
  margin-bottom: 0;
}

.greeting-container{
  overflow: hidden;
  height: 100%;
  max-width: 840px;
  //display: flex;
  //align-items: center;
}


