<div class="greeting-container">
  <div class="personal-image">
    <img src="/assets/img/personal-image.jpg">
  </div>
  <span class="greeting-message">
    <h3>Hello,</h3>
    I am Ben Leech, a student currently finishing my Interactive Systems Design degree
    from the University of Saskatchewan. I love the thrill of solving challenging problems, and I
    enjoy actively developing my skills.

    <p>
      You can read more about me, my proficiencies, experience, and passions in the About section of this site.
    </p>
  </span>
</div>
